# Ignoruj systemowe pliki
.DS_Store
Thumbs.db

# Ignoruj logi, jeśli zdecydujesz się je logować lokalnie
*.log

# Ignoruj pliki edytorów i IDE
.vscode/
.idea/
*.swp
*.swo

# Ignoruj zależności Deno (cache, lockfile jeśli nie śledzisz)
/deno.lock
/deno_dir/
node_modules/